<h2>Who to follow</h2>
<button {{ action "skipAll" }}>Refresh list</button>
<ul>
  {{# each users as |followee| }}
  <li>{{ followee.handle }} <a href="#" {{ action "skip" followee }} class="ihateu">X</a></li> 
  {{/ each }}
</ul>
